---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-3xl">Welcome to Astro</h1>
    <p class="text-green-700 font-bold my-4">
      Hola soy verde y en negritas con margen vertical de 16px
    </p>

    <Card
      href="https://docs.astro.build/"
      title="Componentes en Astro"
      body="Este es un componente llamado Card. Recibe href, title y body."
    />
    <Card
      href="https://github.com/eduqr"
      title="Reutilizando componentes"
      body="wow"
    />
  </main>
</Layout>
