---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<div class="bg-slate-300 w-max rounded-lg p-4 mb-2">
  <a href={href}>
    <h2>
      {title}
    </h2>
    <p>
      {body}
    </p>
  </a>
</div>
